$btn-padding:10px;
$btn-width:100px;
$btn-font-family : "Arial", "Helvetica", "sans-serif";
$btn-cursor:pointer;
$btn-display:inline;
$btn-font-size: medium;

$btn-primary-bg-color:blue;
$btn-primary-color:white;
$btn-secondary-bg-color:grey;
$btn-secondary-color:white;
$btn-success-bg-color:green;
$btn-success-color:white;
$btn-danger-bg-color:red;
$btn-danger-color:white;
$btn-warning-bg-color:yellow;
$btn-warning-color:lack;
$btn-info-bg-color:aqua;
$btn-info-color:black;
$btn-dark-bg-color:black;
$btn-dark-color:white;
$btn-light-bg-color:aliceblue;
$btn-light-color:black;
$btn-link-bg-color:white;
$btn-link-color:black;