.alert {
    font-weight: lighter;
    font-family: $alert-font-family;
    padding: $alert-padding;
    margin: 10px;
    width: 500px;
    border-radius: 8px;
    

    &.alert-primary{
        background-color: $alert-primary-bg-color;
        color: $alert-primary-color;
        border: $alert-primary-border;
        .close{
            float: right;
            background-color: #cfe2ff;
            border: none;
            cursor: pointer;
        }
    }
    &.alert-secondary{
        background-color: $alert-secondary-bg-color;
        color: $alert-secondary-color;
        border: $alert-secondary-border;
        .close{
            float: right;
            background-color: #e2e3e5;
            border: none;
            cursor: pointer;
        }
  }
    &.alert-success{
        background-color: $alert-success-bg-color;
        color: $alert-success-color;
        border: $alert-success-border;
        .close{
            float: right;
            background-color: #d1e7dd;
            border: none;
            cursor: pointer;
        }
    }
    &.alert-danger{
        background-color: $alert-danger-bg-color;
        color: $alert-danger-color;
        border: $alert-danger-border;
        .close{
            float: right;
            background-color:#f8d7da;
            border: none;
            cursor: pointer;
        }
    }
    &.alert-warning{
        background-color: $alert-warning-bg-color;
        color: $alert-warning-color;
        border: $alert-warning-border;
        .close{
            float: right;
            background-color:#fff3cd ;
            border: none;
            cursor: pointer;
        }
    }
    &.alert-info{
        background-color: $alert-info-bg-color;
        color: $alert-info-color;
        border: $alert-info-border;
        .close{
            float: right;
            background-color:#cff4fc;
            border: none;
            cursor: pointer;
        }
    }
    &.alert-dark{
        background-color: $alert-dark-bg-color;
        color: $alert-dark-color;
        border: $alert-dark-border;
        .close{
            float: right;
            background-color: #fefefe;
            border: none;
            cursor: pointer;
        }
    }
    &.alert-light{
        background-color: $alert-light-bg-color;
        color: $alert-light-color;
        border: $alert-light-border;
        .close{
            float: right;
            background-color:#d3d3d4 ;
            border: none;
            cursor: pointer;
        }
    }
  }
  