$alert-padding:20px;
$alert-font-family:Arial, Helvetica, sans-serif;
$alert-primary-bg-color: #cfe2ff;
$alert-primary-color: #084298;
$alert-primary-border: #b6d4fe;
$alert-secondary-bg-color:#e2e3e5;
$alert-secondary-color:#41464b;
$alert-secondary-border:#d3d6d8;
$alert-success-bg-color:#d1e7dd;
$alert-success-color:#0f5132;
$alert-success-border:#badbcc;
$alert-danger-bg-color:#f8d7da;
$alert-danger-color:#842029;
$alert-danger-border:#f5c2c7;
$alert-warning-bg-color:#fff3cd;
$alert-warning-color:#664d03;
$alert-warning-border:#ffecb5;
$alert-info-bg-color:#cff4fc;
$alert-info-color:#055160;
$alert-info-border:#b6effb;
$alert-dark-bg-color:#fefefe;
$alert-dark-color:#636464;
$alert-dark-border:#fdfdfe;
$alert-light-bg-color:#d3d3d4;
$alert-light-color:#141619;
$alert-light-border:#bcbebf;