.badge {
    background-color:$badge-bg-color ;
    color: $badge-color;
    padding: $badge-padding;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 5px;
  }