$accordion-header-bg: rgb(192, 221, 247);
$accordion-header-color:blue;
$accordion-header-border:1px solid grey;
$accordion-header-font-size:large;
$accordion-header-padding:10px;
$accordion-header-radius:5px;
$accordion-body-bg:white;
$accordion-body-color:black;
$accordion-body-border:none;
$accordion-body-padding:10px;
$accordion-body-border-top:none;
$accordion-body-border:1px  solid black;
$accordion-line-height: 1.2;
$accordion-icon-active:"";
$accordion-icon-inactive:"";